@import './base.css';

:root {
  /* 全局 Toast 通知层级 */
  --z-index-toast: 1003;

  /* 全局 MessageBox 通知层级 */
  --z-index-messagebox: 1002;

  /* 全局 ContentDialog 层级 */
  --z-index-dialog: 1001;

  /* 全局 Popup 层级 */
  --z-index-popup: 1000;

  --tk-app-background: #f8f4f1;
  --tk-app-background-deep: #efeae7;
  --tk-app-foreground: #272320;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  line-height: 1.6;
  color: var(--tk-app-foreground);
  background-color: var(--tk-app-background);
  cursor: default;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: none;
}

input,
textarea,
code {
  user-select: text;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: var(--tk-app-background-deep);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
