@import './base.css';

:root {
  /* 应用程序标题栏层级 */
  --tk-z-app-title-bar: 5000;

  /* 全局 ContentDialog 层级 */
  --tk-z-content-dialog: 7000;

  /* 全局 Popup 层级 */
  --tk-z-popup: 8000;

  /* 全局 MessageBox 通知层级 */
  --tk-z-message-box: 9000;

  /* 全局 Toast 通知层级 */
  --tk-z-toast: 10000;

  /* 应用程序标题栏高度 */
  --tk-title-bar-height: 38px;

  --tk-color-background: #f8f4f1;

  --tk-color-background-deep: #efeae7;

  --tk-color-foreground: #272320;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  line-height: 1.6;
  color: var(--tk-color-foreground);
  background-color: var(--tk-color-background);
  cursor: default;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: none;
}

input,
textarea,
code {
  user-select: text;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: var(--tk-color-background-deep);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
